@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library App</h1>
    <p class="lead">This application acts as a local library for a small book inventory. It allows for Viewing, checking out, and returning books for guests</p>
    <p>It also allows for Add/Update Functions on both Books and Employees as an admin. And it allows for Add/Update/Delete functions for books as a basic employee</p>
</div>
